<h2 class="section-title">{{ .titles.dates }}</h2>

<ul class="dates-list">
{{ range $date := .dates }}
  <li class="dates-item" itemscope itemtype="http://schema.org/Organization">
    <p>{{ .text }}: {{ .date }}</p>
  </li>
{{ end }}
</ul>
