<h2 class="section-title">{{ .titles.location }}</h2>

<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
  {{ if .venueurl }}
    <span itemprop="streetAddress"><a href="{{ .venueurl }}">{{ .venue }}</a>, </span>
  {{ else }}
    <span itemprop="streetAddress">{{ .venue }}, </span>
  {{ end }}
  <span itemprop="streetAddress">{{ .address }}, </span>
  <span itemprop="addressLocality">{{ .city }}</span>,
  <span itemprop="addressRegion"> {{ .state }}</span>
</p>

{{ readFile .map | safeHTML }}

<!-- <div id="map-canvas" class="location-area" data-address="{{ .address }}, {{ .city }} - {{ .state }}"></div> -->
