<h2 class="section-title">{{ .titles.organizers }}</h2>

<ul class="speakers-list">
{{ range $organizer := .organizers }}
  <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
    {{ with .photo }}
      <span class="speaker-photo">
        <img class="photo" src="{{ . }}" alt="{{ $organizer.name }}" itemprop="image">
      </span>
    {{ end }}

    <h3 class="speakers-name">{{ .name }}
      {{ with $organizer.link.url }}
      <div class="speaker-link">
          <a href="{{ $organizer.link.url }}" target="_blank"><i class="fas fa-link"></i></a>
      </div>    
      {{ end }}
      {{ with $organizer.link.linkedin }}
      <div class="speaker-link">
          <a href="{{ $organizer.link.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>    
      {{ end }}
      {{ with $organizer.link.github }}
        <div class="speaker-link">
            <a href="{{ $organizer.link.github }}" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>    
      {{ end }}
      {{ with $organizer.link.twitter }}
          <div class="speaker-link">
              <a href="{{ $organizer.link.twitter }}" target="_blank"><i class="fab fa-twitter-square"></i></a>
          </div>    
      {{ end }}
    </h3>
    <p class="speakers-affiliation">{{ .affiliation }}</p>
  </li>
    <p class="speakers-bio">{{ .bio }}</p>
{{ end }}
</ul>

