<h2 class="section-title">{{ .titles.speakers }}</h2>

<ul class="speakers-list">
{{ range $speaker := (where .schedule "invited" "ne" nil) }}
  <li class="speakers-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
    {{ with .photo }}
      <span class="speaker-photo">
        <img class="photo" src="{{ . }}" alt="{{ $speaker.name }}" itemprop="image">
      </span>
    {{ end }}

    <h3 class="speakers-name">{{ .name }}
      {{ with $speaker.link.url }}
      <div class="speaker-link">
          <a href="{{ $speaker.link.url }}" target="_blank"><i class="fas fa-link"></i></a>
      </div>    
      {{ end }}
      {{ with $speaker.link.linkedin }}
      <div class="speaker-link">
          <a href="{{ $speaker.link.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a>
      </div>    
      {{ end }}
      {{ with $speaker.link.github }}
        <div class="speaker-link">
            <a href="{{ $speaker.link.github }}" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>    
      {{ end }}
      {{ with $speaker.link.twitter }}
          <div class="speaker-link">
              <a href="https://twitter.com/{{ $speaker.link.twitter }}" target="_blank"><i class="fab fa-twitter-square"></i></a>
          </div>    
      {{ end }}
    </h3>
    <p class="speakers-affiliation">{{ .affiliation }}</p>
    <p class="speakers-bio">{{ .bio }}</p>
    <h4 class="speech-title">
      <span>Talk:</span>
      <a href="#{{ .presentation.time }}" title="{{ .text }}"> {{ .presentation.title }} </a>
    </h4>
    {{ if not (in $.sections "schedule") }}
      <p class="speakers-bio">{{ .presentation.description }}</p>
    {{ end }}
  </li>
{{ end }}
</ul>
