<p>Prospective participants in the workshop are required to submit a contribution as:</p>

<p>Short paper (max 4 pages)</p>

<p>Submissions must be in PDF following the <a href="https://www.ieee.org/conferences/publishing/templates.html" target="_blank">standard IEEE conference style</a>. Send your PDF manuscript indicating [ICDL-EPIROB 2019] in the subject to:</p>

<p>nng@ieee.org</p>
