<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=11.931163072586061%2C57.70431347130775%2C11.94116234779358%2C57.70998799972889&amp;layer=mapnik&amp;marker=57.707150846673684%2C11.93616271018982" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=57.70715&amp;mlon=11.93616#map=17/57.70715/11.93616" target="_blank">View Larger Map</a></small>
